.storybook-button-with-plus {
  font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 350px; /* existing width */
  height: 48px; /* existing height */
  background: #f9fafe; /* existing background */
  border-radius: 24px; /* existing border radius */
  text-align: center; /* added text alignment */
}

.storybook-button-text {
  color: #7e88c3; /* added text color */
  font-size: 15px; /* added font size */
  font-family: "League Spartan", sans-serif; /* added font family */
  font-weight: 700; /* added font weight */
  line-height: 15px; /* added line height */
  word-wrap: break-word; /* added word wrap */
}

.storybook-button-with-plus--primary {
  color: white;
  background-color: #f9fafe;
}

.storybook-button-with-plus--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button-with-plus--small {
  font-size: 15px;
  padding: 10px 16px;
}

.storybook-button-with-plus--medium {
  font-size: 15px;
  padding: 11px 20px;
}

.storybook-button-with-plus--large {
  font-size: 16px;
  padding: 12px 24px;
}
