/* Styles for Storybook Header */

.storybook-header {
  background: #1e2139;
  display: flex;
  height: 72px;
  align-items: center;
  max-height: 100%;
  justify-content: space-between;
}

/* SVG Styles */
.logo-svg {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 10px; /* Add margin for spacing */
}

/* Button Spacing */
.storybook-header button + button {
  margin-left: 10px;
}

.avatar-button {
  background: none; /* Removes any background */
  border-left: 1px solid #494e6e; /* Sets only the left border */
  padding: 1.25rem 24px;
  height: 100%;
  border-right: none; /* Removes the right border */
  border-bottom: none; /* Removes the bottom border */
  border-top: none; /* Removes the top border */
  /* Removes padding */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
}

.mode-toggle-button {
  background: none; /* Removes any background */
  border: none; /* Removes the border */

  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
}

.left-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
